* {
    box-sizing: border-box;
}

body {
    background-color: #211f1e;
    color: white;
    font-family:'Inter', sans-serif;
}

a {
    color: #FFF5F0;
}

a:hover{
    color: #23B3FB;
    transition: 0.3s;
}

a:link{
    text-decoration: none!important;
}

header {
    font-size: 20px;
    font-family: "Verdana," sans-serif;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: auto;
    width: 100%;
    height: 100px;
    
}

.nav { 
    display: flex;
    position: relative;
    margin-top: 40px;
}

.journey {
    text-align: center;
    font-size: 120px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.date {
    color: #23B3FB;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #23B3FB;
    color: #211f1e;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 1;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #23B3FB;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #23B3FB;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #23B3FB;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: #211f1e;
    
}

@media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid #23B3FB;
    border-width: 10px 10px 10px 0;
    border-color: transparent #23B3FB transparent transparent;
    }
  
    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
}

